<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gerar senhas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-button (click)="selecionarOpcao('prioridade')">Prioridade</ion-button>
  <ion-button (click)="selecionarOpcao('exames')">Exames</ion-button>
  <ion-button (click)="selecionarOpcao('geral')">Geral</ion-button>

  <h1>Senhas</h1>
  <p *ngIf="globalService.ultimoObjetoCriado">Objeto criado está presente</p>


  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
